* {
  box-sizing: border-box;
}

#page-wrap {
  padding-bottom: 10px;
  padding-top: 10px;
}

.App {
  margin: 0;
  position: fixed;
  background-color: #f4f5f7;
  min-width: 100%;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  margin: 40px 60px;
}

.todo-list__title {
  color: #1d223f;
  font-size: 2rem;
  margin: 20px 0px;
  font-weight: bold;
}

.list-header__subtitle {
  color: #1d223f;
  padding: 15px 25px;
  margin: 0px;
  font-size: 20px;
  font-weight: bold;
  flex: 7;
}

.todo-list__header {
  display: flex;
}

.todo-list__container {
  background-color: white;
  height: 100vh;
}

.list-header__datepicker {
  flex: 2;
  width: fit-content;
  margin: 10px;
  justify-content: right;
  text-align: right;
  min-width: 240px;
}

.list-header__add {
  color: #3c5cbf !important;
  padding: 10px !important;
  font-size: 17px !important;
  flex: 1 1;
  margin: 10px 5px 10px 0px;
  background-color: transparent !important;
  border: none !important;
  align-items: flex-start;
  max-width: 130px;
  min-width: 130px;
  transition: 0.3s;
}

.list-header__add:hover {
  background-color: #f4f5f7 !important;
}

.horizontal-division {
  height: 30px;
  margin-top: 20px;
  border: 1px solid #c7cad1;
}

.vertical-division {
  width: 84%;
  margin: 0px 8%;
  border-bottom: 2px solid #c7cad1;
  display: inline-block;
}

.react-datepicker__input-container {
  font-size: 17px;
  color: #717787;
  border-color: #c7cad1;
  border-radius: 3px;
  border-style:solid;
  border-width: 2px;
  -webkit-appearance: none;
}

.react-datepicker__input-container svg {
  margin-left: 1.1em;
}

.react-datepicker__input-container:hover {
  border-color: #393f57;
}

.addika-input {
  border: none !important;
  outline-color: #c7cad1 !important;
  outline-style: solid;
  outline-width: 1px;
  transition: 0.3s;
}

.addika-input:hover {
  outline-color: #393f57 !important;
}

.addika-input:focus {
  outline-color: #3c5cbf !important;
}

.table thead {
  font-size: 16px;
  color: #1d223f;
}

.table tbody {
  font-size: 16px;
  color: #1d223f;
}

.list-elements__icon {
  width: 3%;
}

.list-elements__icon img {
  max-width: 70%;
  margin-left: 10px;
}

.list-elements__description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.modal-dialog {
  width: 100% !important;
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.modal-header {
  border: 0px !important;
}

.modal-footer {
  border: 0px !important;
  padding: 2em !important;
}

.modal-button__save {
  border-radius: 2px !important;
  background-color: #3c5cbf !important;
  border: none !important;
  font-size: 13px !important;
  padding: 10px !important;
  width: 90px;
}

.modal-button__close {
  border-radius: 2px !important;
  background-color: #e4e5e9 !important;
  border: none !important;
  color: #1d223f !important;
  font-size: 13px !important;
  padding: 10px !important;
  width: 90px;
}

.modal-input__title {
  width: 100%;
}

.modal-textarea__description {
  resize: none !important;
  width: 100%;
}

.modal-form__newtask {
  padding: 0px 25px;
}

.modal-form__label {
  font-size: 14px;
  margin: 10px 0px 5px 0px;
  color: #1d223f;
}

.modal-title {
  padding-left: 25px !important;
  font-size: 1.1em !important;
  font-weight: bold !important;
  margin-top: 20px;
  color: #1d223f;
}

