.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
  display: none;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-burger-bars-hover {
  background: #a90000;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  position: fixed;
  top: 0;
  height: 100%;
  box-shadow: 3px 0px 10px #000;
}

.bm-menu {
  background: #ffffff;
  padding: 2.5em 1em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  font-size: 0.4em;
}

.bm-item {
  display: inline-block;
  color: #1e2340;
  margin-bottom: 10px;
  text-align: left;

}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.sidebar-title__label {
  font-size: 1.5rem;
  font-weight: bold;
}

.sidebar-created__label {
  font-size: .8rem;
  font-weight: bold;
}

.sidebar-description__label {
  font-size: .8rem;
  font-weight: bold;
}

.sidebar-button__edit {
  border-radius: 2px !important;
  background-color: #e4e5e9 !important;
  border: none !important;
  color: #1d223f !important;
  font-size: 13px !important;
  padding: 10px !important;
  width: 90px;
  margin: 10px 0px;
}

.sidebar-button__delete {
  border-radius: 2px !important;
  background-color: #e4e5e9 !important;
  border: none !important;
  color: #1d223f !important;
  font-size: 13px !important;
  padding: 10px !important;
  width: 90px;
  margin: 10px;
}

.sidebar-buttons {
  position: absolute; 
  bottom: 0; 
  width: 100%; 
  height: 50px; 
  margin-bottom: 20px;
}

.sidebar-button__icon {
  color: #3d5ebf;
}